<?xml version="1.0" encoding="UTF-8"?>
<config>
  <context path="/sftp-folders">
    <folder>
      <folderPath>/example-drop</folderPath>
      <moveDestination>/config</moveDestination>
      <queueName>noaudit.sample-tracking</queueName>
      <headers>
        <header>
          <key>myHeader1</key>
          <value>myValue1</value>
        </header>
        <header>
          <key>myHeader2</key>
          <value>myValue2</value>
        </header>
      </headers>
    </folder>
    <folder>
      <folderPath>/example-drop2</folderPath>
      <moveDestination>/config</moveDestination>
      <queueName>audit.sample-tracking</queueName>
      <headers>
        <header>
          <key>myHeader1</key>
          <value>myValue1</value>
        </header>
        <header>
          <key>myHeader2</key>
          <value>myValue2</value>
        </header>
      </headers>
    </folder>
  </context>
</config>
